.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif, helvetica, arial;
    font-size: 16px;
    background-color: #ededed;
    
}

.container {
    background-color: #ededed;
    background: url(../images/bg.png) 0 0 no-repeat;
}

.header {
    margin-bottom: 10px;
}

.header h3 {
    border: none;
    color: #5B92E5;
}

.header img {
    width: 2.5em;
}

.row {
    margin-left: 0;
}

h2 {
    font-size: 1.4em;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px dotted #555;
    margin-top: 20px;
}

.total {
    font-size: 3.2em;
    font-weight: bold;
}
.breakdown_num {
    font-size: 1.8em;
    display: block;
    text-align: left;
}
.breakdown_title {
    font-size: 1.2em;
    display: block;
    text-align: left;
}

.damage .breakdown_title {

}

.damage .breakdown_num {
    font-size: 3.2em;
    font-weight: bold;

}

.col-md-4 {
    padding: 0;
}

h4.palestine {
    background: url(../images/palestine-flag.png) 0 0 no-repeat;
}

h4.isreal {
    background: url(../images/isreal-flag.png) 0 0 no-repeat;

}

h4 {
    background-size: auto 2em;
    padding-left: 2.5em;
    line-height: 2.1em;

}

.palestine .civil {
    color: #534D4C;
}

.palestine .woman {
    color: #91C353;
}

.palestine .child {
    color: #E34C47;
}

.isreal {
    color: #236E9B;
}

.vis {
    margin-right: 5px;
    margin-top: 5px;
}
.vis span {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 2px;
    padding: 0;
}

.vis span {
    position: relative;
    
}
.vis span .img {
    transition: all linear 0.1s;
    background-color: #534D4C;
    width: 5px;
    height: 5px;
    margin: 0px 0 0 0px;
    background-size: 5px auto;
    opacity: 0.5;
    position: absolute;
    
    -webkit-filter: opacity(.5);
    filter: opacity(.5);
    

}
.vis .child:hover .img {
    border: 3px solid #E34C47;
    position: absolute;
    width: 250px;
    height: 145px;
    margin: -140px 0 0 -100px;
    background-size: 250px auto;
    opacity: 1;
    border: 1px solid #E34C47;
    z-index: 10;
    -webkit-filter: opacity(1);
    filter: opacity(1);


}

.palestine .vis .civil {
    background-color: #534D4C;
}

.palestine .vis .woman {
    background-color: #91C353;
}

.palestine .vis .child {
    background-color: #E34C47;
}

.vis .isreal {
    background-color: #236E9B;
}

.isreal .vis .civil {
    background-color: #236E9B;
}

.percent {
    
    margin-right: 10px;
    height: 4px;
    position: relative;
    padding-left: 5px;
    background-color: #AAA;
    margin-top: 1.5em;
}

.percent span {
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -3.5em;

}

.palestine .percentCivil {
    background-color: #E34C47;
}

.isreal .percentCivil {
    background-color: #236E9B;
}

.percent .percentCivil {
    height: 100%;
    overlow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.footer {
    margin: 0;
    margin-top :20px;
    border-top: 1px solid #555;

}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
   /*
    .container {
        max-width: 730px;
    }
    */

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
